@import '../../partials/importer.scss';

p {
  margin: .5em 0;
}

.wrapper {
  margin: 0 1vw;
  min-width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: $break-small) {
    margin-top: 1.5em;
    width: 30vw;
  }
}

.meta {
  font-size: .8em;
}

.radio-circle {
  display: none;
}

.price {
  @extend %btn-white;
}

.selected {
  color: red !important;
}
