<label (click)='handleClick(stateRoom)' class='wrapper' for='{{stateRoom.meta + idx}}'>

  <p class='meta'>{{toUpper(stateRoom.meta)}}</p>
  <input
    class='radio-circle'
    id='{{stateRoom.meta + idx}}'
    name='rooms'
    type='radio'
    [value]="stateRoom.priceBlocks[0].currencyCode === 'SOLD_OUT' ? 'Sold Out' : stateRoom.priceBlocks[0].prices[0].fare"
  >
  <span class='price'>
    <p *ngIf='stateRoom.priceBlocks[0].currencyCode !== "SOLD_OUT"'>{{currencySymbol}}{{stateRoom.priceBlocks[0].prices[0].fare}}*</p>
    <p *ngIf='stateRoom.priceBlocks[0].currencyCode === "SOLD_OUT"'>Sold Out</p>
  </span>

</label>


<!-- [(ngModel)]='radioSelected' -->
