@import '../../partials/importer.scss';

nav {
  height: 15vh;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background: $blue;

  @media screen and (max-width: $break-small) {
    height: 10vh;
  }
}

p {
  margin: 0;
}

ul {
  display: flex;
  width: 28%;
  justify-content: space-around;
}

li {
  padding: .2em;
  list-style-type: none;
  cursor: pointer;
}

.desktop {
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.mobile {
  @media screen and (min-width: $break-small) {
    display: none;
  }
}
