@import '../../partials/importer.scss';

nav {
  height: 15vh;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  background: $blue;
}

p {
  margin: 0;
}

ul {
  display: flex;
  width: 20%;
  justify-content: space-around;
}

li {
  padding: .2em;
  list-style-type: none;
  cursor: pointer;
}
