$white: #FFF;
$black: #000;
$blue: #2B386F;
$dark-blue: #20285b;
$dark-grey: #333;
$grey: #777;
$light-blue: #EAEFF8;
$light-grey: #bbb;
$med-dark-grey: #555;
$med-light-blue: #418BCA;
$orange: #FFCB66;
